<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>YOMERGENCY</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href='css/yomergency.css' rel='stylesheet'/>
    <script src="js/modernizr.custom.js"></script>
    <style>
      body {background-color: #9B59B6}
    </style>
  </head>
  <body>
    
     <div class = "container">

     <div class="title">
      <h1><span id="yo">Yo</span>
        <span id="mergency">MERGENCY</span></h1>
    </div><hr><br>
    <div style="text-align:center"><a href="/login/facebook"><span id="login">Log In via Facebook</span></a><br><br>
      <div id="ico_login">
        <img style="opacity:0" src="images/warning_c.png">
        <img src="images/warning_c.png">
        <img  class="top" src="images/warning.png">
        <img src="images/fire_c.png">
        <img  class="top" src="images/fire.png">
<img src="images/flood_c.png">
        <img  class="top" src="images/flood.png">
        <img src="images/prowler_c.png">
        <img  class="top" src="images/prowler.png">
        <img src="images/earthquake_c.png">
        <img  class="top" src="images/earthquake.png">
<img src="images/blizzard_c.png">
        <img  class="top" src="images/blizzard.png">
      </div>
  </div>


  </div>

      </body>
</html>
