<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>YOMERGENCY</title>

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href='css/yomergency.css' rel='stylesheet'/>
    <link href="css/normalize.css" rel="stylesheet" type="text/css" />
    <link href="css/component.css" rel="stylesheet" type="text/css" />
    <script src="js/modernizr.custom.js"></script>
    <style>
    <% if(category === "WARNING") { %>
           body {background-color:#F1C40F}
    <% } %>
    </style>
  </head>
  <body>
    
    <div class = "container">

<div class = "message">
<img src="images/<%= category %>.png">
    <p id ="category"><%= category %></p>
        <p id ="locat_mess"><%= location %></p>
    <p id ="locat_mess"><%= message %></p>


<div class="title">
      <p>from <span id="yo_small">Yo</span>
        <span id="mergency_small">MERGENCY</span></p>
    </div>

    </div>



      </body>
</html>