<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>YOMERGENCY</title>

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href='css/yomergency.css' rel='stylesheet'/>
    <link href="css/normalize.css" rel="stylesheet" type="text/css" />
    <link href="css/component.css" rel="stylesheet" type="text/css" />
    <script src="js/modernizr.custom.js"></script>
    <style>
    <% if(category.toLowerCase() === "warning") { %>
           body {background-color:#F1C40F}
    <% } else if(category.toLowerCase() === "prowler") { %>
          body {background-color:#34495E}
    <% } else if(category.toLowerCase() === "fire") { %>
          body {background-color:#e74c3c}
    <% } else if(category.toLowerCase() === "flood") { %>
          body {background-color:#3498DB}
      <% } else if(category.toLowerCase() === "blizzard") { %>
          body {background-color:#2980B9}
    <% } else if(category.toLowerCase() === "earthquake") { %>
          body {background-color:#16A085}
    <% } %>
    </style>
  </head>
  <body>
    
    <div class = "container">

<div class = "message">
<img src="images/<%= category.toLowerCase() %>.png">
    <p> <span id ="category"><%= category %></span><br>
        <span id ="mess">in </span><span id ="locat"><%= location %></span><br><br><br>
    <span id ="mess"><%= message %></span> <span class="white"><br>from</span> <span id="yo_small">Yo</span>
        <span id="mergency_small">MERGENCY</span></p>
    </div>


  </div>

      </body>
</html>