html,
body {
    height: 100%;
}

@font-face {
    font-family:'Montserrat-Bold';
    src: url(../fonts/Montserrat-Bold.woff);
}

@font-face {
    font-family:'Montserrat-Regular';
    src: url(../fonts/Montserrat-Regular.woff);
}

h1 {
    line-height: 20px;
    font-size: 0pt;
    font-family:'Montserrat-Bold';
    text-align: center;
}

h2 {
    line-height: 20px;
    font-size: 14pt;
    text-transform: uppercase;
    font-family:'Montserrat-Bold';
    text-align: left;
    color: #ecd1f7;

}

p {
    font-size: 16px;
    color: #ecd1f7;
    font-family:'Montserrat-Regular';
    text-transform: uppercase;
}

h3 {
    font-size: 16px;
    color: #ecd1f7;
    font-family:'Montserrat-Regular';
    text-transform: uppercase;
}


hr {

    border-color: #ecd1f7;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-width: 2px;
}

.message {
    padding: 40px 0 0px;
    text-align: center;
}

.title {
  padding: 10px 0 0px;

}

.indent {
    padding-left: 20px;
    padding-right: 20px;
}

.alert_box {
    padding-top: 12px;
    padding-bottom: 3px;
    background-color: #a360bf;
    opacity: 1;
    margin-bottom: 40px;
}



.prowler {
    color: #34495E;
}

.fire {
    color: #e74c3c;
}

.flood {
    color: #3498DB;
}

.blizzard {
    color: #2980B9;
}

.earthquake {
    color: #16A085;
}

.warning {
    color: #F1C40F;
}

.white {
    color: #FFFFFF;
}

.img_responsive {
    display: block;
    height: auto;
    max-width: 75%;
}

.ico_login {

    display:inline-block;
    position:relative;
    width:28px;
    height:28px;
    margin:0 auto;
}

#ico_login img {
    width:28px;
    height:28px;
    position:relative;
    
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#ico_login img.top {
    right:31.8px;
}
#ico_login img.top:hover {
    opacity:0;
}



.no_font {
    font-size: 0px;
}

img {
    vertical-align: middle;
    border: 0;
    page-break-inside: avoid;
    max-width: 60%;
}



#yo {
    font-size: 60pt;
    color: #FFFFFF;
    font-family:'Montserrat-Bold';
    text-rendering: optimizeLegibility;
}

#mergency {
    font-size: 45pt;
    color: #d8ade9;
    font-family:'Montserrat-Bold';
    text-rendering: optimizeLegibility;
}

#yo_small {
    font-size: 16pt;
    font-family:'Montserrat-Bold';
    color: #FFFFFF;
    text-rendering: optimizeLegibility;
    text-transform: none;
}

#mergency_small {
    opacity: .85;
    font-size: 12pt;
    color: #FFFFFF;
    font-family:'Montserrat-Bold';
    text-rendering: optimizeLegibility;
}

#category {
    padding-top: 20px;
    font-size: 30pt;
    font-family:'Montserrat-Bold';
    color: #FFFFFF;
    margin-bottom: 0px;
    padding-bottom: 0px;
    text-rendering: optimizeLegibility;
}

#locat {
    line-height: 50%;
    font-size: 18pt;
    font-family:'Montserrat-Bold';
    color: #FFFFFF;
    text-rendering: optimizeLegibility;
}

#mess {
    line-height: 50%;
    font-size: 16pt;
    font-family:'Montserrat-Regular';
    color: #FFFFFF;
    text-rendering: optimizeLegibility;
}

#send_form { 
    padding-left: 20px;
}

#iphone {
    width: 320px;
}

#login {
    font-size: 14pt;
    text-transform: uppercase;
    font-family:'Montserrat-Bold';
    color: #ecd1f7;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

#login:hover { 
    text-decoration: none;
    color: #FFFFFF;
}

