html,
body {
    height: 100%;
    background-color: #9B59B6;
}

@font-face {
    font-family:'Montserrat-Bold';
    src: url(../fonts/Montserrat-Bold.woff);
}

@font-face {
    font-family:'Montserrat-Regular';
    src: url(../fonts/Montserrat-Regular.woff);
}

h1 {
    line-height: 20px;
    font-size: 0pt;
    font-family:'Montserrat-Bold';
    text-align: center;
}

h2 {
    line-height: 20px;
    font-size: 14pt;
    text-transform: uppercase;
    font-family:'Montserrat-Bold';
    text-align: left;
    color: #ecd1f7;

}

p {
    font-size: 16px;
    color: #ecd1f7;
    font-family:'Montserrat-Regular';
    text-transform: uppercase;
}

h3 {
    font-size: 16px;
    color: #ecd1f7;
    font-family:'Montserrat-Regular';
    text-transform: uppercase;
}


hr {

    border-color: #ecd1f7;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-width: 2px;
}

.message {
    padding: 40px 0 25px;
    text-align: center;
}

.title {
  padding: 10px 0 0px;

}

.indent {
    padding-left: 20px;
}

.alert_box {
    padding-top: 12px;
    padding-bottom: 3px;
    background-color: #a360bf;
    opacity: 1;
    margin-bottom: 40px;
}



.prowler {
    color: #34495E;
}

.fire {
    color: #e74c3c;
}

.flood {
    color: #3498DB;
}

.blizzard {
    color: #2980B9;
}

.earthquake {
    color: #16A085;
}

.warning {
    color: #F1C40F;
}



.img_responsive {
    display: block;
    height: auto;
    max-width: 75%;
}

img {
    vertical-align: middle;
    border: 0;
    page-break-inside: avoid;
    max-width: 75%;
}



#yo {
    font-size: 60pt;
    color: #FFFFFF;
    font-family:'Montserrat-Bold';
    text-rendering: optimizeLegibility;
}

#mergency {
    font-size: 45pt;
    color: #d8ade9;
    font-family:'Montserrat-Bold';
    text-rendering: optimizeLegibility;
}

#yo_small {
    font-size: 22pt;
    font-family:'Montserrat-Bold';
    color: #FFFFFF;
    text-rendering: optimizeLegibility;
}

#mergency_small {
    font-size: 20pt;
    color: #d8ade9;
    font-family:'Montserrat-Bold';
    text-rendering: optimizeLegibility;
}

#category {
    padding-top: 20px;
    font-size: 35pt;
    font-family:'Montserrat-Bold';
    color: #FFFFFF;
    text-rendering: optimizeLegibility;
}
#locat_mess {
    font-size: 23pt;
    font-family:'Montserrat-Regular';
    color: #d8ade9;
    text-rendering: optimizeLegibility;
}

#send_form {
    padding-left: 20px;
}

