<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>YOMERGENCY</title>
    <link rel='stylesheet' href='stylesheets/style.css' />
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    
    <div class="title">
     	<h1>YOEMERGENCY</h1>
    </div>

    <p></p>
        <form action="http://yale.us4.list-manage.com/subscribe/post?u=08b2dae0cf7da9d74d96e3441&amp;id=4d07c86929" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
            <input type="email" value="" name="EMAIL" class="validate[required,custom[email]] feedback-input" id="email_sexy" placeholder="Join the Email List" required>
            <input type="submit" value="SUBSCRIBE" name="subscribe" id="button-yellow" class="submit">
        </form>

  



  </body>
</html>
