html,
body {
    height: 100%;
    background-color: #9B59B6;
}

@font-face {
    font-family:'Montserrat-Bold';
    src: url(fonts/Montserrat-Bold.woff);
}

@font-face {
    font-family:'Montserrat-Regular';
    src: url(fonts/Montserrat-Regular.woff);
}

h1 {
    line-height: 20px;
    font-size: 0pt;
    font-family:'Montserrat-Bold';
    text-align: center;
}

h2 {
    line-height: 20px;
    font-size: 14pt;
    text-transform: uppercase;
    font-family:'Montserrat-Bold';
    text-align: left;
    color: #ecd1f7;

}

p {
    font-size: 16px;
    color: #ecd1f7;
    font-family:'Montserrat-Regular';
    text-transform: uppercase;
    padding-bottom: 15px;
}


hr {
  border: 3px;
  width: 100%;
  color: #d8ade9;
    background-color: #be98cd;
    height: 3px;
}

.title {
  margin: 35px 0 0px;
  padding-bottom: 15px;
}

.indent {
    padding-left: 20px;
}

.alert_box {
    padding-top: 12px;
    padding-top: 12px;
    background-color: #a360bf;
    opacity: 1;
}



.prowler {
    color: #34495E;
}

.fire {
    color: #e74c3c;
}

.flood {
    color: #3498DB;
}

.blizzard {
    color: #2980B9;
}

.earthquake {
    color: #16A085;
}

.warning {
    color: #F1C40F;
}







#yo {
    font-size: 60pt;
    color: #FFFFFF;
    text-rendering: optimizeLegibility;
}

#mergency {
    font-size: 45pt;
    color: #d8ade9;
    text-rendering: optimizeLegibility;
}

#send_form {
    padding-left: 20px;
}

#send {

}

